form{
    width: 30%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px;
}
.head-login{
   font-weight: bold;
   text-align: center;
   color: rgb(9, 9, 9);
}
body{
    background-image: url(https://img.freepik.com/premium-photo/list-icon-notebook-with-completed-todo-list-3d-render_471402-428.jpg);
    background-size: 100%;
}
#submit-btn{
    border: 2px solid;
    text-decoration : none;
    padding : 4px;
    border-color : #000000;
    color: #000000;
    
   
}
ul{
    list-style-type: none;
}
.main-heading{
    font-weight: bolder;
    color: rgb(16, 16, 18);

}
.todo-block{
    margin-left:70px ;
}
.nav-item{
    font-size: 23px;
}
